
// variables 
$primary:#9f29e3;

// typography
$text-sm:12px;
$text-md:16px;
$text-lg:18px;

$container-width: 100px;
$sidebar-width: 280px;
$header-height: 64px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;